In [16]:
import pandas as pd

In [19]:
# Census data URL
url = 'https://api.census.gov/data/2010/dec/sf1/variables.html'

# URL to DataFrame
data_frame = pd.read_html(url)

In [24]:
census_df = data_frame[0].copy()

In [25]:
#Final census data dataframe
census_df.head(5)

,Name,Label,Concept,Required,Attributes,Limit,Predicate Type,Group,Unnamed: 8
0,AIANHH,American Indian Area/Alaska Native Area/Hawaii...,NaN,not required,NaN,0,(not a predicate),NaN,NaN
1,AIHHTLI,American Indian Area (Off-Reservation Trust La...,NaN,not required,NaN,0,(not a predicate),NaN,NaN
2,AITSCE,American Indian Tribal Subdivision (Census),NaN,not required,NaN,0,(not a predicate),NaN,NaN
3,ANRC,Alaska Native Regional Corporation,NaN,not required,NaN,0,(not a predicate),NaN,NaN
4,BLKGRP,Census Block Group,NaN,not required,NaN,0,(not a predicate),NaN,NaN

In [31]:
census_df.shape

(9001, 9)

In [32]:
census_df.drop(columns='Unnamed: 8',inplace=True)

In [33]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9001 entries, 0 to 9000
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            9001 non-null   object
 1   Label           9001 non-null   object
 2   Concept         8964 non-null   object
 3   Required        9001 non-null   object
 4   Attributes      68 non-null     object
 5   Limit           9001 non-null   object
 6   Predicate Type  9001 non-null   object
 7   Group           8961 non-null   object
dtypes: object(8)
memory usage: 562.7+ KB

**Mapping Function to return column label**

In [287]:
#Mapping function to return the column label
def column_label(col):
    cond = census_df['Name'] == col
    result = census_df[cond]['Label']
    return result

In [310]:
#Just testing the function
column_label('AIANHH')

0    American Indian Area/Alaska Native Area/Hawaii...
Name: Label, dtype: object

**Uploading the text file named 'census2010_GROUP_QUARTERS_POPULATION**

In [167]:
# Reading the text file
file = "C:/Users/Gayathri/Desktop/Nexstep_data/census2010_GROUP_QUARTERS_POPULATION.txt"
df = pd.read_csv(file, delimiter=',', encoding= 'latin-1',error_bad_lines=False)

b'Skipping line 1182: expected 49 fields, saw 94\nSkipping line 1349: expected 49 fields, saw 94\nSkipping line 2875: expected 49 fields, saw 94\nSkipping line 3561: expected 49 fields, saw 94\nSkipping line 11618: expected 49 fields, saw 94\nSkipping line 12867: expected 49 fields, saw 94\nSkipping line 13700: expected 49 fields, saw 94\nSkipping line 13918: expected 49 fields, saw 94\nSkipping line 14097: expected 49 fields, saw 94\n'
b'Skipping line 18342: expected 49 fields, saw 94\nSkipping line 20311: expected 49 fields, saw 94\nSkipping line 20662: expected 49 fields, saw 94\nSkipping line 20960: expected 49 fields, saw 94\nSkipping line 24083: expected 49 fields, saw 94\nSkipping line 25594: expected 49 fields, saw 94\nSkipping line 26419: expected 49 fields, saw 94\nSkipping line 27189: expected 49 fields, saw 94\nSkipping line 28304: expected 49 fields, saw 94\nSkipping line 29452: expected 49 fields, saw 94\nSkipping line 29810: expected 49 fields, saw 94\nSkipping line 31216: expected 49 fields, saw 94\nSkipping line 32694: expected 49 fields, saw 94\n'
b'Skipping line 35507: expected 49 fields, saw 94\nSkipping line 36845: expected 49 fields, saw 94\nSkipping line 37509: expected 49 fields, saw 94\nSkipping line 38902: expected 49 fields, saw 94\nSkipping line 39173: expected 49 fields, saw 94\nSkipping line 39705: expected 49 fields, saw 94\nSkipping line 40392: expected 49 fields, saw 94\nSkipping line 40687: expected 49 fields, saw 94\nSkipping line 42697: expected 49 fields, saw 94\nSkipping line 43196: expected 49 fields, saw 94\nSkipping line 48115: expected 49 fields, saw 94\n'
b'Skipping line 50310: expected 49 fields, saw 94\nSkipping line 50515: expected 49 fields, saw 94\nSkipping line 53467: expected 49 fields, saw 94\nSkipping line 54513: expected 49 fields, saw 94\nSkipping line 55347: expected 49 fields, saw 94\nSkipping line 58565: expected 49 fields, saw 94\nSkipping line 58809: expected 49 fields, saw 94\nSkipping line 59912: expected 49 fields, saw 94\nSkipping line 60134: expected 49 fields, saw 94\nSkipping line 61631: expected 49 fields, saw 94\n'
b'Skipping line 66896: expected 49 fields, saw 94\nSkipping line 67484: expected 49 fields, saw 94\n'

In [168]:

df.reset_index(inplace=True)

In [169]:
df.head()

,level_0,level_1,"[[""NAME""",GEO_ID,GEO_ID.1,PCO010001,PCO010002,PCO010003,PCO010004,PCO010005,...,PCO010035,PCO010036,PCO010037,PCO010038,PCO010039,NAME,state,county,tract],Unnamed: 46
0,"[""Census Tract 201",Autauga County,"Alabama""",1400000US01001020100,1400000US01001020100,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 201, Autauga County, Alabama",1,1,020100],NaN
1,"[""Census Tract 205",Autauga County,"Alabama""",1400000US01001020500,1400000US01001020500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 205, Autauga County, Alabama",1,1,020500],NaN
2,"[""Census Tract 203",Autauga County,"Alabama""",1400000US01001020300,1400000US01001020300,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 203, Autauga County, Alabama",1,1,020300],NaN
3,"[""Census Tract 204",Autauga County,"Alabama""",1400000US01001020400,1400000US01001020400,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 204, Autauga County, Alabama",1,1,020400],NaN
4,"[""Census Tract 202",Autauga County,"Alabama""",1400000US01001020200,1400000US01001020200,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 202, Autauga County, Alabama",1,1,020200],NaN

In [170]:
df.rename(columns={'level_0':'Name','level_1':'County','[["NAME"':'State'},inplace='True')

In [171]:
df.head(4)

,Name,County,State,GEO_ID,GEO_ID.1,PCO010001,PCO010002,PCO010003,PCO010004,PCO010005,...,PCO010035,PCO010036,PCO010037,PCO010038,PCO010039,NAME,state,county,tract],Unnamed: 46
0,"[""Census Tract 201",Autauga County,"Alabama""",1400000US01001020100,1400000US01001020100,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 201, Autauga County, Alabama",1,1,020100],NaN
1,"[""Census Tract 205",Autauga County,"Alabama""",1400000US01001020500,1400000US01001020500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 205, Autauga County, Alabama",1,1,020500],NaN
2,"[""Census Tract 203",Autauga County,"Alabama""",1400000US01001020300,1400000US01001020300,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 203, Autauga County, Alabama",1,1,020300],NaN
3,"[""Census Tract 204",Autauga County,"Alabama""",1400000US01001020400,1400000US01001020400,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 204, Autauga County, Alabama",1,1,020400],NaN

In [174]:
df.Name = df.Name.str.lstrip('["')

In [177]:
df.State = df.State.str.rstrip('"')

In [178]:
df.head(4)

,Name,County,State,GEO_ID,GEO_ID.1,PCO010001,PCO010002,PCO010003,PCO010004,PCO010005,...,PCO010035,PCO010036,PCO010037,PCO010038,PCO010039,NAME,state,county,tract],Unnamed: 46
0,Census Tract 201,Autauga County,Alabama,1400000US01001020100,1400000US01001020100,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 201, Autauga County, Alabama",1,1,020100],NaN
1,Census Tract 205,Autauga County,Alabama,1400000US01001020500,1400000US01001020500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 205, Autauga County, Alabama",1,1,020500],NaN
2,Census Tract 203,Autauga County,Alabama,1400000US01001020300,1400000US01001020300,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 203, Autauga County, Alabama",1,1,020300],NaN
3,Census Tract 204,Autauga County,Alabama,1400000US01001020400,1400000US01001020400,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 204, Autauga County, Alabama",1,1,020400],NaN

In [311]:
df.columns

Index(['Name', 'County', 'State', 'GEO_ID', 'GEO_ID.1', 'PCO010001',
       'PCO010002', 'PCO010003', 'PCO010004', 'PCO010005', 'PCO010006',
       'PCO010007', 'PCO010008', 'PCO010009', 'PCO010010', 'PCO010011',
       'PCO010012', 'PCO010013', 'PCO010014', 'PCO010015', 'PCO010016',
       'PCO010017', 'PCO010018', 'PCO010019', 'PCO010020', 'PCO010021',
       'PCO010022', 'PCO010023', 'PCO010024', 'PCO010025', 'PCO010026',
       'PCO010027', 'PCO010028', 'PCO010029', 'PCO010030', 'PCO010031',
       'PCO010032', 'PCO010033', 'PCO010034', 'PCO010035', 'PCO010036',
       'PCO010037', 'PCO010038', 'PCO010039', 'NAME', 'state', 'county',
       'tract]', 'Unnamed: 46'],
      dtype='object')

In [308]:
# Call the colum lable function to find the value of alphanumeric column name
col = column_label('PCO010001')

In [309]:
print(*col)

Total (701-702, 704, 706, 801-802, 900-901, 903-904)

In [302]:
##test.rename(columns={'PCO010001':c},inplace=True)