
# Mapping function for alphanumeric code

### Table of Contents
[1.  Introduction](#1_Introduction) <br>
[2. Imports](#2_Imports) <br>
[3. Loading Data from census.gov](#3_Load_census)<br>
[4. Mapping function to get the description of alphanumeric code](#4_map_function)<br>
[5. Loading census 2010_GROUP_QUARTERS_POPULATION file](#5_group_quarters_pop)<br>
[6. Get the description of Alphanumeric code](#6_call_function)<br>
&emsp;[6.1 Replace the column header with desciption](#6.1_to_df)<br>
&emsp;[6.2 Saving the result to text file](#6.2_to_save)<br>
[7. Loading census 2010 Total population file](#7_load_total)<br>
[8. Get the description for Alphanumeric code in total population file](#8_load_total)<br>
[9. Save the result to total population file](#9_df_saveto)

### 1. Introduction<a id='1_Introduction'></a>

We have queried census data into multiple files.  This data has a headers that consists of alphanumeric codes. The full description of the alphanumeric code could be found in the table which is located here in this html page: https://api.census.gov/data/2010/dec/sf1/variables.html. This project is to create a mapping function that gives the descirption of the alphanumeric code in the Cencus data files.

### 2. Imports <a id='2_Imports'></a>

In [1]:
import pandas as pd

### 3. Loading Data from cencus.gov <a id='3_Load_census'></a>

In [2]:
# Census data URL
url = 'https://api.census.gov/data/2010/dec/sf1/variables.html'

# URL to DataFrame
data_frame = pd.read_html(url)

In [3]:
census_df = data_frame[0].copy()

In [4]:
#Final census data dataframe
census_df.head(5)

,Name,Label,Concept,Required,Attributes,Limit,Predicate Type,Group,Unnamed: 8
0,AIANHH,American Indian Area/Alaska Native Area/Hawaii...,NaN,not required,NaN,0,(not a predicate),NaN,NaN
1,AIHHTLI,American Indian Area (Off-Reservation Trust La...,NaN,not required,NaN,0,(not a predicate),NaN,NaN
2,AITSCE,American Indian Tribal Subdivision (Census),NaN,not required,NaN,0,(not a predicate),NaN,NaN
3,ANRC,Alaska Native Regional Corporation,NaN,not required,NaN,0,(not a predicate),NaN,NaN
4,BLKGRP,Census Block Group,NaN,not required,NaN,0,(not a predicate),NaN,NaN

In [5]:
census_df.shape

(9001, 9)

In [6]:
census_df.drop(columns='Unnamed: 8',inplace=True)

In [7]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9001 entries, 0 to 9000
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            9001 non-null   object
 1   Label           9001 non-null   object
 2   Concept         8964 non-null   object
 3   Required        9001 non-null   object
 4   Attributes      68 non-null     object
 5   Limit           9001 non-null   object
 6   Predicate Type  9001 non-null   object
 7   Group           8961 non-null   object
dtypes: object(8)
memory usage: 562.7+ KB

### 4. Mapping function to get the description of alpha numeric code <a id='4_map_function'></a>

In [8]:
#Mapping function to return the column label
def column_label(col):
    cond = census_df['Name'] == col
    result = census_df[cond]['Label']
    return result

In [9]:
#Just testing the function
column_label('AIANHH')

0    American Indian Area/Alaska Native Area/Hawaii...
Name: Label, dtype: object

### 5. Loading census 2010_GROUP_QUARTERS_POPULATION<a id='5_group_quarters_pop'></a>

In [10]:
from io import StringIO 

with open("C:/Users/Gayathri/Desktop/Nexstep_data/census2010_GROUP_QUARTERS_POPULATION.txt", 'r') as infile:
    data = infile.read()
    data = data.replace('][',',\n')
    data = data.replace("[", "")
    data = data.replace("]","")
df = pd.read_csv(StringIO(data), error_bad_lines=False)

In [11]:
df.head(4)

,NAME,GEO_ID,GEO_ID.1,PCO010001,PCO010002,PCO010003,PCO010004,PCO010005,PCO010006,PCO010007,...,PCO010035,PCO010036,PCO010037,PCO010038,PCO010039,NAME.1,state,county,tract,Unnamed: 46
0,"Census Tract 201, Autauga County, Alabama",1400000US01001020100,1400000US01001020100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 201, Autauga County, Alabama",01,001,020100,NaN
1,"Census Tract 205, Autauga County, Alabama",1400000US01001020500,1400000US01001020500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 205, Autauga County, Alabama",01,001,020500,NaN
2,"Census Tract 203, Autauga County, Alabama",1400000US01001020300,1400000US01001020300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 203, Autauga County, Alabama",01,001,020300,NaN
3,"Census Tract 204, Autauga County, Alabama",1400000US01001020400,1400000US01001020400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 204, Autauga County, Alabama",01,001,020400,NaN

In [30]:
df.shape

(67712, 47)

In [12]:
df.columns

Index(['NAME', 'GEO_ID', 'GEO_ID.1', 'PCO010001', 'PCO010002', 'PCO010003',
       'PCO010004', 'PCO010005', 'PCO010006', 'PCO010007', 'PCO010008',
       'PCO010009', 'PCO010010', 'PCO010011', 'PCO010012', 'PCO010013',
       'PCO010014', 'PCO010015', 'PCO010016', 'PCO010017', 'PCO010018',
       'PCO010019', 'PCO010020', 'PCO010021', 'PCO010022', 'PCO010023',
       'PCO010024', 'PCO010025', 'PCO010026', 'PCO010027', 'PCO010028',
       'PCO010029', 'PCO010030', 'PCO010031', 'PCO010032', 'PCO010033',
       'PCO010034', 'PCO010035', 'PCO010036', 'PCO010037', 'PCO010038',
       'PCO010039', 'NAME.1', 'state', 'county', 'tract', 'Unnamed: 46'],
      dtype='object')

In [13]:
lis = ['PCO010001', 'PCO010002', 'PCO010003',
       'PCO010004', 'PCO010005', 'PCO010006', 'PCO010007', 'PCO010008',
       'PCO010009', 'PCO010010', 'PCO010011', 'PCO010012', 'PCO010013',
       'PCO010014', 'PCO010015', 'PCO010016', 'PCO010017', 'PCO010018',
       'PCO010019', 'PCO010020', 'PCO010021', 'PCO010022', 'PCO010023',
       'PCO010024', 'PCO010025', 'PCO010026', 'PCO010027', 'PCO010028',
       'PCO010029', 'PCO010030', 'PCO010031', 'PCO010032', 'PCO010033',
       'PCO010034', 'PCO010035', 'PCO010036', 'PCO010037', 'PCO010038',
       'PCO010039']

### 6. Get the description of Alphanumeric code <a id='6_call_function'></a>

In [14]:
# For each alphanumeric column calling column_lable function
# Storing the result in Dictionary
dic = {}
dic = {}
for col in lis:
    descript = column_label(col)
    dic[col] = str(descript.values)

### 6.1 Replace the column header with desciption <a id='6.1_to_df'></a>

In [15]:
df.rename(columns=dic,inplace=True)

In [16]:
df.head(4)

,NAME,GEO_ID,GEO_ID.1,"['Total (701-702, 704, 706, 801-802, 900-901, 903-904)']","['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male']","['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!Under 5 years']","['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!5 to 9 years']","['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!10 to 14 years']","['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!15 to 19 years']","['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!20 to 24 years']",...,"['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!65 to 69 years']","['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!70 to 74 years']","['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!75 to 79 years']","['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!80 to 84 years']","['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!85 years and over']",NAME.1,state,county,tract,Unnamed: 46
0,"Census Tract 201, Autauga County, Alabama",1400000US01001020100,1400000US01001020100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 201, Autauga County, Alabama",01,001,020100,NaN
1,"Census Tract 205, Autauga County, Alabama",1400000US01001020500,1400000US01001020500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 205, Autauga County, Alabama",01,001,020500,NaN
2,"Census Tract 203, Autauga County, Alabama",1400000US01001020300,1400000US01001020300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 203, Autauga County, Alabama",01,001,020300,NaN
3,"Census Tract 204, Autauga County, Alabama",1400000US01001020400,1400000US01001020400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 204, Autauga County, Alabama",01,001,020400,NaN

### 6.2 Saving the result to text file <a id='6.2_to_save'></a>

In [17]:
df.to_csv(r'C:/Users/Gayathri/Desktop/census2010_GROUP_QUARTERS_POPULATION_mapped.txt', index=False,na_rep='NULL')

### 7. Loading cencus 2010 total population file<a id='7_load_total'></a>

In [21]:
# Reading the text file
file = "C:/Users/Gayathri/Desktop/Nexstep_data/census2010_TOTAL POPULATION.txt"

with open(file, 'r') as infile:
    data = infile.read()
    data = data.replace('][',',\n')
    data = data.replace("[", "")
    data = data.replace("]","")
df_1 = pd.read_csv(StringIO(data), error_bad_lines=False,low_memory=False)

In [22]:
df_1.head(4)

,NAME,GEO_ID,GEO_ID.1,NAME.1,PCT001001,PCT001001ERR,POPGROUP,POPGROUP_TTL,state,county,tract,Unnamed: 11
0,"Census Tract 201, Autauga County, Alabama",1400000US01001020100,1400000US01001020100,"Census Tract 201, Autauga County, Alabama",1912,NaN,001,Total population,01,001,020100,NaN
1,"Census Tract 201, Autauga County, Alabama",1400000US01001020100,1400000US01001020100,"Census Tract 201, Autauga County, Alabama",1622,NaN,002,White alone,01,001,020100,NaN
2,"Census Tract 201, Autauga County, Alabama",1400000US01001020100,1400000US01001020100,"Census Tract 201, Autauga County, Alabama",1645,NaN,003,White alone or in combination with one or more...,01,001,020100,NaN
3,"Census Tract 201, Autauga County, Alabama",1400000US01001020100,1400000US01001020100,"Census Tract 201, Autauga County, Alabama",229,NaN,005,Black or African American alone or in combinat...,01,001,020100,NaN

### 8. Get the description for Alphanumeric code in total population file <a id='8_load_total'></a>

In [26]:
dict1 = {}
# Calling the function column_lable and storing the result in dict
descript1 = column_label('PCT001001')
dict1['PCT001001'] = str(descript.values)

In [27]:
df_1.rename(columns=dict1,inplace=True)

In [28]:
df_1.head(4)

,NAME,GEO_ID,GEO_ID.1,NAME.1,"['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!85 years and over']",PCT001001ERR,POPGROUP,POPGROUP_TTL,state,county,tract,Unnamed: 11
0,"Census Tract 201, Autauga County, Alabama",1400000US01001020100,1400000US01001020100,"Census Tract 201, Autauga County, Alabama",1912,NaN,001,Total population,01,001,020100,NaN
1,"Census Tract 201, Autauga County, Alabama",1400000US01001020100,1400000US01001020100,"Census Tract 201, Autauga County, Alabama",1622,NaN,002,White alone,01,001,020100,NaN
2,"Census Tract 201, Autauga County, Alabama",1400000US01001020100,1400000US01001020100,"Census Tract 201, Autauga County, Alabama",1645,NaN,003,White alone or in combination with one or more...,01,001,020100,NaN
3,"Census Tract 201, Autauga County, Alabama",1400000US01001020100,1400000US01001020100,"Census Tract 201, Autauga County, Alabama",229,NaN,005,Black or African American alone or in combinat...,01,001,020100,NaN

### 9. Save the result to total population file <a id='9_df_saveto'></a>

In [29]:
df_1.to_csv(r'C:/Users/Gayathri/Desktop/census2010_TOTAL POPULATION_mapped.txt', index=False,na_rep='NULL')