
# Mapping function for alphanumeric code

### Table of Contents
[1.  Introduction](#1_Introduction) <br>
[2. Imports](#2_Imports) <br>
[3. Loading Data from census.gov](#3_Load_census)<br>
[4. Mapping function to get the description of alphanumeric code](#4_map_function)<br>
[5. Loading census 2010_GROUP_QUARTERS_POPULATION file](#5_group_quarters_pop)<br>
&emsp;[5.1 Renaming columns](#5.1_renaming)<br>
&emsp;[5.2 Cleaning column names](#5.2_cleaning)<br>
[6. Get the description of Alphanumeric code](#6_call_function)<br>
[7. Create Datafram with code&Description](#7_create_df)<br>
[8. Loading census 2010 Total population file](#8_load_total)<br>
[9. Get the description for Alphanumeric code in total population file](#9_load_total)<br>
[10. DataFrame for Alphanumeric code in total population file](#10_df_total)<br>
[11. Save final DataFrame to csv file ](#11_df_save)<br>

### 1. Introduction<a id='1_Introduction'></a>

We have queried census data into multiple files.  This data has a headers that consists of alphanumeric codes. The full description of the alphanumeric code could be found in the table which is located here in this html page: https://api.census.gov/data/2010/dec/sf1/variables.html. This project is to create a mapping function that gives the descirption of the alphanumeric code in the Cencus data files.

### 2. Imports <a id='2_Imports'></a>

In [2]:
import pandas as pd

### 3. Loading Data from cencus.gov <a id='3_Load_census'></a>

In [3]:
# Census data URL
url = 'https://api.census.gov/data/2010/dec/sf1/variables.html'

# URL to DataFrame
data_frame = pd.read_html(url)

In [4]:
census_df = data_frame[0].copy()

In [5]:
#Final census data dataframe
census_df.head(5)

,Name,Label,Concept,Required,Attributes,Limit,Predicate Type,Group,Unnamed: 8
0,AIANHH,American Indian Area/Alaska Native Area/Hawaii...,NaN,not required,NaN,0,(not a predicate),NaN,NaN
1,AIHHTLI,American Indian Area (Off-Reservation Trust La...,NaN,not required,NaN,0,(not a predicate),NaN,NaN
2,AITSCE,American Indian Tribal Subdivision (Census),NaN,not required,NaN,0,(not a predicate),NaN,NaN
3,ANRC,Alaska Native Regional Corporation,NaN,not required,NaN,0,(not a predicate),NaN,NaN
4,BLKGRP,Census Block Group,NaN,not required,NaN,0,(not a predicate),NaN,NaN

In [6]:
census_df.shape

(9001, 9)

In [7]:
census_df.drop(columns='Unnamed: 8',inplace=True)

In [8]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9001 entries, 0 to 9000
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            9001 non-null   object
 1   Label           9001 non-null   object
 2   Concept         8964 non-null   object
 3   Required        9001 non-null   object
 4   Attributes      68 non-null     object
 5   Limit           9001 non-null   object
 6   Predicate Type  9001 non-null   object
 7   Group           8961 non-null   object
dtypes: object(8)
memory usage: 562.7+ KB

### 4. Mapping function to get the description of alpha numeric code <a id='4_map_function'></a>

In [9]:
#Mapping function to return the column label
def column_label(col):
    cond = census_df['Name'] == col
    result = census_df[cond]['Label']
    return result

In [10]:
#Just testing the function
column_label('AIANHH')

0    American Indian Area/Alaska Native Area/Hawaii...
Name: Label, dtype: object

### 5. Loading census 2010_GROUP_QUARTERS_POPULATION<a id='5_group_quarters_pop'></a>

In [11]:
# Reading the text file
file = "C:/Users/Gayathri/Desktop/Nexstep_data/census2010_GROUP_QUARTERS_POPULATION.txt"
df = pd.read_csv(file, delimiter=',', encoding= 'latin-1',error_bad_lines=False)

b'Skipping line 1182: expected 49 fields, saw 94\nSkipping line 1349: expected 49 fields, saw 94\nSkipping line 2875: expected 49 fields, saw 94\nSkipping line 3561: expected 49 fields, saw 94\nSkipping line 11618: expected 49 fields, saw 94\nSkipping line 12867: expected 49 fields, saw 94\nSkipping line 13700: expected 49 fields, saw 94\nSkipping line 13918: expected 49 fields, saw 94\nSkipping line 14097: expected 49 fields, saw 94\n'
b'Skipping line 18342: expected 49 fields, saw 94\nSkipping line 20311: expected 49 fields, saw 94\nSkipping line 20662: expected 49 fields, saw 94\nSkipping line 20960: expected 49 fields, saw 94\nSkipping line 24083: expected 49 fields, saw 94\nSkipping line 25594: expected 49 fields, saw 94\nSkipping line 26419: expected 49 fields, saw 94\nSkipping line 27189: expected 49 fields, saw 94\nSkipping line 28304: expected 49 fields, saw 94\nSkipping line 29452: expected 49 fields, saw 94\nSkipping line 29810: expected 49 fields, saw 94\nSkipping line 31216: expected 49 fields, saw 94\nSkipping line 32694: expected 49 fields, saw 94\n'
b'Skipping line 35507: expected 49 fields, saw 94\nSkipping line 36845: expected 49 fields, saw 94\nSkipping line 37509: expected 49 fields, saw 94\nSkipping line 38902: expected 49 fields, saw 94\nSkipping line 39173: expected 49 fields, saw 94\nSkipping line 39705: expected 49 fields, saw 94\nSkipping line 40392: expected 49 fields, saw 94\nSkipping line 40687: expected 49 fields, saw 94\nSkipping line 42697: expected 49 fields, saw 94\nSkipping line 43196: expected 49 fields, saw 94\nSkipping line 48115: expected 49 fields, saw 94\n'
b'Skipping line 50310: expected 49 fields, saw 94\nSkipping line 50515: expected 49 fields, saw 94\nSkipping line 53467: expected 49 fields, saw 94\nSkipping line 54513: expected 49 fields, saw 94\nSkipping line 55347: expected 49 fields, saw 94\nSkipping line 58565: expected 49 fields, saw 94\nSkipping line 58809: expected 49 fields, saw 94\nSkipping line 59912: expected 49 fields, saw 94\nSkipping line 60134: expected 49 fields, saw 94\nSkipping line 61631: expected 49 fields, saw 94\n'
b'Skipping line 66896: expected 49 fields, saw 94\nSkipping line 67484: expected 49 fields, saw 94\n'

In [12]:

df.reset_index(inplace=True)

In [13]:
df.head()

,level_0,level_1,"[[""NAME""",GEO_ID,GEO_ID.1,PCO010001,PCO010002,PCO010003,PCO010004,PCO010005,...,PCO010035,PCO010036,PCO010037,PCO010038,PCO010039,NAME,state,county,tract],Unnamed: 46
0,"[""Census Tract 201",Autauga County,"Alabama""",1400000US01001020100,1400000US01001020100,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 201, Autauga County, Alabama",1,1,020100],NaN
1,"[""Census Tract 205",Autauga County,"Alabama""",1400000US01001020500,1400000US01001020500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 205, Autauga County, Alabama",1,1,020500],NaN
2,"[""Census Tract 203",Autauga County,"Alabama""",1400000US01001020300,1400000US01001020300,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 203, Autauga County, Alabama",1,1,020300],NaN
3,"[""Census Tract 204",Autauga County,"Alabama""",1400000US01001020400,1400000US01001020400,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 204, Autauga County, Alabama",1,1,020400],NaN
4,"[""Census Tract 202",Autauga County,"Alabama""",1400000US01001020200,1400000US01001020200,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 202, Autauga County, Alabama",1,1,020200],NaN

### 5.1 Renaming Columns<a id='5.2_cleaning'></a>

In [49]:
# Renaming columns
df.rename(columns={'level_0':'Name','level_1':'County','[["NAME"':'State'},inplace='True')

In [50]:
df.head(4)

,Name,County,State,GEO_ID,GEO_ID.1,PCO010001,PCO010002,PCO010003,PCO010004,PCO010005,...,PCO010035,PCO010036,PCO010037,PCO010038,PCO010039,NAME,state,county,tract],Unnamed: 46
0,Census Tract 201,Autauga County,Alabama,1400000US01001020100,1400000US01001020100,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 201, Autauga County, Alabama",1,1,020100],NaN
1,Census Tract 205,Autauga County,Alabama,1400000US01001020500,1400000US01001020500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 205, Autauga County, Alabama",1,1,020500],NaN
2,Census Tract 203,Autauga County,Alabama,1400000US01001020300,1400000US01001020300,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 203, Autauga County, Alabama",1,1,020300],NaN
3,Census Tract 204,Autauga County,Alabama,1400000US01001020400,1400000US01001020400,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 204, Autauga County, Alabama",1,1,020400],NaN

### 5.2 Cleaning Column names<a id='5.2_cleaning'></a>

In [16]:
#Removing unwanted chars
df.Name = df.Name.str.lstrip('["')

In [17]:
# Removing unwanted chars
df.State = df.State.str.rstrip('"')

In [18]:
df.head(4)

,Name,County,State,GEO_ID,GEO_ID.1,PCO010001,PCO010002,PCO010003,PCO010004,PCO010005,...,PCO010035,PCO010036,PCO010037,PCO010038,PCO010039,NAME,state,county,tract],Unnamed: 46
0,Census Tract 201,Autauga County,Alabama,1400000US01001020100,1400000US01001020100,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 201, Autauga County, Alabama",1,1,020100],NaN
1,Census Tract 205,Autauga County,Alabama,1400000US01001020500,1400000US01001020500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 205, Autauga County, Alabama",1,1,020500],NaN
2,Census Tract 203,Autauga County,Alabama,1400000US01001020300,1400000US01001020300,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 203, Autauga County, Alabama",1,1,020300],NaN
3,Census Tract 204,Autauga County,Alabama,1400000US01001020400,1400000US01001020400,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Census Tract 204, Autauga County, Alabama",1,1,020400],NaN

In [19]:
df.columns

Index(['Name', 'County', 'State', 'GEO_ID', 'GEO_ID.1', 'PCO010001',
       'PCO010002', 'PCO010003', 'PCO010004', 'PCO010005', 'PCO010006',
       'PCO010007', 'PCO010008', 'PCO010009', 'PCO010010', 'PCO010011',
       'PCO010012', 'PCO010013', 'PCO010014', 'PCO010015', 'PCO010016',
       'PCO010017', 'PCO010018', 'PCO010019', 'PCO010020', 'PCO010021',
       'PCO010022', 'PCO010023', 'PCO010024', 'PCO010025', 'PCO010026',
       'PCO010027', 'PCO010028', 'PCO010029', 'PCO010030', 'PCO010031',
       'PCO010032', 'PCO010033', 'PCO010034', 'PCO010035', 'PCO010036',
       'PCO010037', 'PCO010038', 'PCO010039', 'NAME', 'state', 'county',
       'tract]', 'Unnamed: 46'],
      dtype='object')

In [35]:
lis = ['PCO010002', 'PCO010003', 'PCO010004', 'PCO010005', 'PCO010006',
       'PCO010007', 'PCO010008', 'PCO010009', 'PCO010010', 'PCO010011',
       'PCO010012', 'PCO010013', 'PCO010014', 'PCO010015', 'PCO010016',
       'PCO010017', 'PCO010018', 'PCO010019', 'PCO010020', 'PCO010021',
       'PCO010022', 'PCO010023', 'PCO010024', 'PCO010025', 'PCO010026',
       'PCO010027', 'PCO010028', 'PCO010029', 'PCO010030', 'PCO010031',
       'PCO010032', 'PCO010033', 'PCO010034', 'PCO010035', 'PCO010036',
       'PCO010037', 'PCO010038', 'PCO010039']

### 6. Get the description of Alphanumeric code <a id='6_call_function'></a>

In [48]:
# For each alphanumeric column calling column_lable function
# Storing the result in Dictionary
dic = {}
for col in lis:
    descript = column_label(col)
    dic[col] = str(descript.values)
print(dic)

{'PCO010002': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male']", 'PCO010003': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!Under 5 years']", 'PCO010004': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!5 to 9 years']", 'PCO010005': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!10 to 14 years']", 'PCO010006': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!15 to 19 years']", 'PCO010007': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!20 to 24 years']", 'PCO010008': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!25 to 29 years']", 'PCO010009': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!30 to 34 years']", 'PCO010010': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!35 to 39 years']", 'PCO010011': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!40 to 44 years']", 'PCO010012': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!45 to 49 years']", 'PCO010013': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!50 to 54 years']", 'PCO010014': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!55 to 59 years']", 'PCO010015': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!60 to 64 years']", 'PCO010016': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!65 to 69 years']", 'PCO010017': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!70 to 74 years']", 'PCO010018': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!75 to 79 years']", 'PCO010019': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!80 to 84 years']", 'PCO010020': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Male!!85 years and over']", 'PCO010021': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female']", 'PCO010022': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!Under 5 years']", 'PCO010023': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!5 to 9 years']", 'PCO010024': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!10 to 14 years']", 'PCO010025': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!15 to 19 years']", 'PCO010026': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!20 to 24 years']", 'PCO010027': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!25 to 29 years']", 'PCO010028': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!30 to 34 years']", 'PCO010029': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!35 to 39 years']", 'PCO010030': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!40 to 44 years']", 'PCO010031': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!45 to 49 years']", 'PCO010032': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!50 to 54 years']", 'PCO010033': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!55 to 59 years']", 'PCO010034': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!60 to 64 years']", 'PCO010035': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!65 to 69 years']", 'PCO010036': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!70 to 74 years']", 'PCO010037': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!75 to 79 years']", 'PCO010038': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!80 to 84 years']", 'PCO010039': "['Total (701-702, 704, 706, 801-802, 900-901, 903-904)!!Female!!85 years and over']"}

### 7. Create Dataframe with code & description <a id='7_create_df'></a>

In [67]:
#Creating DataFrame with Dict
final_data = pd.DataFrame([dic])
final_data = final_data.T

In [69]:
final_data.rename(columns={0:'Description'},inplace=True)

In [77]:
# Reseting the index
final_data.reset_index(inplace=True)

In [79]:
#Final dataframe
final_data.rename(columns={'index':'Code'},inplace=True)

In [80]:
final_data.head(5)

        Code                                        Description
0  PCO010002  ['Total (701-702, 704, 706, 801-802, 900-901, ...
1  PCO010003  ['Total (701-702, 704, 706, 801-802, 900-901, ...
2  PCO010004  ['Total (701-702, 704, 706, 801-802, 900-901, ...
3  PCO010005  ['Total (701-702, 704, 706, 801-802, 900-901, ...
4  PCO010006  ['Total (701-702, 704, 706, 801-802, 900-901, ...

### 8. Loading cencus 2010 total population file<a id='8_load_total'></a>

In [81]:
# Reading the text file
file = "C:/Users/Gayathri/Desktop/Nexstep_data/census2010_TOTAL POPULATION.txt"
df_1 = pd.read_csv(file, delimiter=',', encoding= 'latin-1',error_bad_lines=False)

b'Skipping line 14751: expected 14 fields, saw 24\nSkipping line 19146: expected 14 fields, saw 24\nSkipping line 51580: expected 14 fields, saw 24\nSkipping line 61162: expected 14 fields, saw 24\n'
b'Skipping line 284353: expected 14 fields, saw 24\nSkipping line 307297: expected 14 fields, saw 24\nSkipping line 323000: expected 14 fields, saw 24\nSkipping line 326861: expected 14 fields, saw 24\n'
b'Skipping line 329655: expected 14 fields, saw 24\n'
b'Skipping line 412041: expected 14 fields, saw 24\nSkipping line 446983: expected 14 fields, saw 24\n'
b'Skipping line 459625: expected 14 fields, saw 24\nSkipping line 464312: expected 14 fields, saw 24\nSkipping line 515403: expected 14 fields, saw 24\n'
b'Skipping line 534877: expected 14 fields, saw 24\nSkipping line 544103: expected 14 fields, saw 24\nSkipping line 556148: expected 14 fields, saw 24\nSkipping line 568086: expected 14 fields, saw 24\nSkipping line 583162: expected 14 fields, saw 24\nSkipping line 585794: expected 14 fields, saw 24\n'
b'Skipping line 611388: expected 14 fields, saw 24\nSkipping line 638276: expected 14 fields, saw 24\n'
b'Skipping line 671239: expected 14 fields, saw 24\nSkipping line 690410: expected 14 fields, saw 24\nSkipping line 698458: expected 14 fields, saw 24\nSkipping line 715762: expected 14 fields, saw 24\nSkipping line 718773: expected 14 fields, saw 24\n'
b'Skipping line 725637: expected 14 fields, saw 24\nSkipping line 742725: expected 14 fields, saw 24\nSkipping line 745665: expected 14 fields, saw 24\n'
b'Skipping line 790379: expected 14 fields, saw 24\nSkipping line 801548: expected 14 fields, saw 24\n'
b'Skipping line 898685: expected 14 fields, saw 24\n'
b'Skipping line 936242: expected 14 fields, saw 24\nSkipping line 938264: expected 14 fields, saw 24\nSkipping line 971597: expected 14 fields, saw 24\n'
b'Skipping line 994910: expected 14 fields, saw 24\nSkipping line 1011148: expected 14 fields, saw 24\n'
b'Skipping line 1051385: expected 14 fields, saw 24\nSkipping line 1055757: expected 14 fields, saw 24\nSkipping line 1071205: expected 14 fields, saw 24\nSkipping line 1074006: expected 14 fields, saw 24\nSkipping line 1092870: expected 14 fields, saw 24\n'
b'Skipping line 1204394: expected 14 fields, saw 24\nSkipping line 1215098: expected 14 fields, saw 24\n'

In [82]:
df_1.head(4)

                                     [["NAME"                GEO_ID  \
["Census Tract 201  Autauga County   Alabama"  1400000US01001020100
                    Autauga County   Alabama"  1400000US01001020100
                    Autauga County   Alabama"  1400000US01001020100
                    Autauga County   Alabama"  1400000US01001020100

                                                GEO_ID.1  \
["Census Tract 201  Autauga County  1400000US01001020100
                    Autauga County  1400000US01001020100
                    Autauga County  1400000US01001020100
                    Autauga County  1400000US01001020100

                                                                         NAME  \
["Census Tract 201  Autauga County  Census Tract 201, Autauga County, Alabama
                    Autauga County  Census Tract 201, Autauga County, Alabama
                    Autauga County  Census Tract 201, Autauga County, Alabama
                    Autauga County  Census Tract 201, Autauga County, Alabama

                                    PCT001001 PCT001001ERR  POPGROUP  \
["Census Tract 201  Autauga County       1912          NaN         1
                    Autauga County       1622          NaN         2
                    Autauga County       1645          NaN         3
                    Autauga County        229          NaN         5

                                                                         POPGROUP_TTL  \
["Census Tract 201  Autauga County                                   Total population
                    Autauga County                                        White alone
                    Autauga County  White alone or in combination with one or more...
                    Autauga County  Black or African American alone or in combinat...

                                    state  county   tract]  Unnamed: 11
["Census Tract 201  Autauga County      1       1  020100]          NaN
                    Autauga County      1       1  020100]          NaN
                    Autauga County      1       1  020100]          NaN
                    Autauga County      1       1  020100]          NaN

In [83]:
df_1.reset_index(inplace=True)

In [84]:
df_1.head(4)

,level_0,level_1,"[[""NAME""",GEO_ID,GEO_ID.1,NAME,PCT001001,PCT001001ERR,POPGROUP,POPGROUP_TTL,state,county,tract],Unnamed: 11
0,"[""Census Tract 201",Autauga County,"Alabama""",1400000US01001020100,1400000US01001020100,"Census Tract 201, Autauga County, Alabama",1912,NaN,1,Total population,1,1,020100],NaN
1,"[""Census Tract 201",Autauga County,"Alabama""",1400000US01001020100,1400000US01001020100,"Census Tract 201, Autauga County, Alabama",1622,NaN,2,White alone,1,1,020100],NaN
2,"[""Census Tract 201",Autauga County,"Alabama""",1400000US01001020100,1400000US01001020100,"Census Tract 201, Autauga County, Alabama",1645,NaN,3,White alone or in combination with one or more...,1,1,020100],NaN
3,"[""Census Tract 201",Autauga County,"Alabama""",1400000US01001020100,1400000US01001020100,"Census Tract 201, Autauga County, Alabama",229,NaN,5,Black or African American alone or in combinat...,1,1,020100],NaN

### 9. Get the description for Alphanumeric code in total population file <a id='9_load_total'></a>

In [88]:
dict1 = {}
# Calling the function column_lable and storing the result in dict
descript1 = column_label('PCT001001')
dict1['PCT001001'] = str(descript.values)

### 10. DataFrame for Alphanumeric code in total population file <a id='10_df_total'></a>

In [100]:
# Creating DataFrame with dict
df2 = pd.DataFrame([dict1])
df2 = df2.T

In [101]:
df2.rename(columns={0:'Description'},inplace=True)
df2.reset_index(inplace=True)
df2.rename(columns={'index':'Code'},inplace=True)

### 10. Final DataFrame with Alphanumeric code and Description <a id='8_load_total'></a>

In [102]:
# Final DataFrame with all the code & descritption
final_data.append(df2, ignore_index=True)

         Code                                        Description
0   PCO010002  ['Total (701-702, 704, 706, 801-802, 900-901, ...
1   PCO010003  ['Total (701-702, 704, 706, 801-802, 900-901, ...
2   PCO010004  ['Total (701-702, 704, 706, 801-802, 900-901, ...
3   PCO010005  ['Total (701-702, 704, 706, 801-802, 900-901, ...
4   PCO010006  ['Total (701-702, 704, 706, 801-802, 900-901, ...
5   PCO010007  ['Total (701-702, 704, 706, 801-802, 900-901, ...
6   PCO010008  ['Total (701-702, 704, 706, 801-802, 900-901, ...
7   PCO010009  ['Total (701-702, 704, 706, 801-802, 900-901, ...
8   PCO010010  ['Total (701-702, 704, 706, 801-802, 900-901, ...
9   PCO010011  ['Total (701-702, 704, 706, 801-802, 900-901, ...
10  PCO010012  ['Total (701-702, 704, 706, 801-802, 900-901, ...
11  PCO010013  ['Total (701-702, 704, 706, 801-802, 900-901, ...
12  PCO010014  ['Total (701-702, 704, 706, 801-802, 900-901, ...
13  PCO010015  ['Total (701-702, 704, 706, 801-802, 900-901, ...
14  PCO010016  ['Total (701-702, 704, 706, 801-802, 900-901, ...
15  PCO010017  ['Total (701-702, 704, 706, 801-802, 900-901, ...
16  PCO010018  ['Total (701-702, 704, 706, 801-802, 900-901, ...
17  PCO010019  ['Total (701-702, 704, 706, 801-802, 900-901, ...
18  PCO010020  ['Total (701-702, 704, 706, 801-802, 900-901, ...
19  PCO010021  ['Total (701-702, 704, 706, 801-802, 900-901, ...
20  PCO010022  ['Total (701-702, 704, 706, 801-802, 900-901, ...
21  PCO010023  ['Total (701-702, 704, 706, 801-802, 900-901, ...
22  PCO010024  ['Total (701-702, 704, 706, 801-802, 900-901, ...
23  PCO010025  ['Total (701-702, 704, 706, 801-802, 900-901, ...
24  PCO010026  ['Total (701-702, 704, 706, 801-802, 900-901, ...
25  PCO010027  ['Total (701-702, 704, 706, 801-802, 900-901, ...
26  PCO010028  ['Total (701-702, 704, 706, 801-802, 900-901, ...
27  PCO010029  ['Total (701-702, 704, 706, 801-802, 900-901, ...
28  PCO010030  ['Total (701-702, 704, 706, 801-802, 900-901, ...
29  PCO010031  ['Total (701-702, 704, 706, 801-802, 900-901, ...
30  PCO010032  ['Total (701-702, 704, 706, 801-802, 900-901, ...
31  PCO010033  ['Total (701-702, 704, 706, 801-802, 900-901, ...
32  PCO010034  ['Total (701-702, 704, 706, 801-802, 900-901, ...
33  PCO010035  ['Total (701-702, 704, 706, 801-802, 900-901, ...
34  PCO010036  ['Total (701-702, 704, 706, 801-802, 900-901, ...
35  PCO010037  ['Total (701-702, 704, 706, 801-802, 900-901, ...
36  PCO010038  ['Total (701-702, 704, 706, 801-802, 900-901, ...
37  PCO010039  ['Total (701-702, 704, 706, 801-802, 900-901, ...
38  PCT001001  ['Total (701-702, 704, 706, 801-802, 900-901, ...

### 11. Save final DataFrame to csv file <a id='11_df_save'></a>

In [99]:
# Exporting final data frame to csv file
final_data.to_csv(r'C:/Users/Gayathri/Desktop/mapped_code.csv')