
# Mapping function for alphanumeric code

### Table of Contents
[1.  Introduction](#1_Introduction) <br>
[2. Imports](#2_Imports) <br>
[3. Loading Data from census.gov 'sf1'](#3_Load_census)<br>
&emsp;[3.1 Loading Data from Census.gov 'sf2'](#3.1_Load_census2)<br>
&emsp;[3.2 Combining both Census Dataframes](#3.2_combine_census)<br>
[4. Fuction Definitions](#4_fun) <br>
&emsp;[4.1 Mapping function to get the description of alphanumeric code](#4.1_map_function)<br>
&emsp;[4.2 Mapping function to genetate Alphanumeric code](#4.2_map_function1)<br>
[5. Loading Text Files](#5_load_text) <br>
[6. Read text files to DataFrame  ](#6_text_to_df)<br>
[7. Get the Description of Alphanumeric code ](#7_get_descript)<br>
[8. Rename columns](#8_rename_col)<br>
[9. Cleaning the DataFrame](#9_clean_df)
[10. Saving the DataFrame to CSV file](10_save_df)

### 1. Introduction<a id='1_Introduction'></a>

We have queried census data into multiple files.  This data has a headers that consists of alphanumeric codes. The full description of the alphanumeric code could be found in the table which is located here in this html page: https://api.census.gov/data/2010/dec/sf1/variables.html. This project is to create a mapping function that gives the descirption of the alphanumeric code in the Cencus data files.

### 2. Imports <a id='2_Imports'></a>

In [1]:
import pandas as pd

### 3. Loading Data from cencus.gov 'sf1' <a id='3_Load_census'></a>

In [2]:
# Census data URL
url = 'https://api.census.gov/data/2010/dec/sf1/variables.html'

# URL to DataFrame
data_frame = pd.read_html(url)

In [125]:
census_df1 = data_frame[0].copy()

In [126]:
#Final census data dataframe
census_df1.head(5)

,Name,Label,Concept,Required,Attributes,Limit,Predicate Type,Group,Unnamed: 8
0,AIANHH,American Indian Area/Alaska Native Area/Hawaii...,NaN,not required,NaN,0,(not a predicate),NaN,NaN
1,AIHHTLI,American Indian Area (Off-Reservation Trust La...,NaN,not required,NaN,0,(not a predicate),NaN,NaN
2,AITSCE,American Indian Tribal Subdivision (Census),NaN,not required,NaN,0,(not a predicate),NaN,NaN
3,ANRC,Alaska Native Regional Corporation,NaN,not required,NaN,0,(not a predicate),NaN,NaN
4,BLKGRP,Census Block Group,NaN,not required,NaN,0,(not a predicate),NaN,NaN

In [127]:
census_df1.shape

(9001, 9)

In [128]:
census_df1.drop(columns='Unnamed: 8',inplace=True)

### 3.1 Loading Data from Census.gov 'sf2'<a id='3.1_Load_census2'></a>

In [121]:
# Census data URL
url = 'https://api.census.gov/data/2010/dec/sf2/variables.html'

# URL to DataFrame
data_frame1 = pd.read_html(url)

In [122]:
census_df2 = data_frame1[0].copy()

In [123]:
census_df2.head(3)

,Name,Label,Concept,Required,Attributes,Limit,Predicate Type,Group,Unnamed: 8
0,AIANHH,American Indian Area/Alaska Native Area/Hawaii...,NaN,not required,NaN,0,(not a predicate),NaN,NaN
1,AIHHTLI,American Indian Area (Off-Reservation Trust La...,NaN,not required,NaN,0,(not a predicate),NaN,NaN
2,AITSCE,American Indian Tribal Subdivision (Census),NaN,not required,NaN,0,(not a predicate),NaN,NaN

In [124]:
census_df2.drop(columns='Unnamed: 8',inplace=True)

### 3.2 Combining both Census Dataframes<a id='3.2_combine_census'></a>

In [131]:
census_df = pd.concat([census_df1,census_df2])

In [132]:
census_df.head(4)

,Name,Label,Concept,Required,Attributes,Limit,Predicate Type,Group
0,AIANHH,American Indian Area/Alaska Native Area/Hawaii...,NaN,not required,NaN,0,(not a predicate),NaN
1,AIHHTLI,American Indian Area (Off-Reservation Trust La...,NaN,not required,NaN,0,(not a predicate),NaN
2,AITSCE,American Indian Tribal Subdivision (Census),NaN,not required,NaN,0,(not a predicate),NaN
3,ANRC,Alaska Native Regional Corporation,NaN,not required,NaN,0,(not a predicate),NaN

In [139]:
census_df.drop_duplicates(subset=['Name'],inplace=True)

### Fuction Definitions <a id='4_fun'></a>

### 4.1 Mapping function to get the description of alpha numeric code <a id='4.1_map_function'></a>

In [282]:
#Mapping function to return the column label
def column_label(col):
    cond = census_df['Name'] == col
    result = census_df[cond]['Label']
    return result

In [141]:
#Just testing the function
column_label('AIANHH')

0    American Indian Area/Alaska Native Area/Hawaii...
Name: Label, dtype: object

### 4.2 Mapping function to genetate Alphanumeric code<a id='4.2_map_function1'></a>

In [274]:
def rename_alphanumeric(df_rename):
    df_rename.drop(columns=['GEO_ID.1','NAME.1'],inplace= True)
    t = df_rename.columns.str.contains('Unnamed:')
    if t is True: 
        df_rename.drop(columns=[t],inplace= True)
    
    l = ['PCO','PCT','P03','H02','P02','P01','H01','P00']
    lis = df_rename.columns[df_rename.columns.str.contains('|'.join(l))]
    lis_col = [x for x in lis if (len(x) == 9) or (len(x) == 8) or (len(x) == 7)]
    
    dic = {}
    for col in lis_col:
        descript = column_label(col)
        dic[col] = str(descript.values)
    return dic

 ### 5.  Loading Text Files <a id='5_load_text'></a>

In [23]:
import glob
import os

myFilesPaths = glob.glob(r'C:/Users/Gayathri/Desktop/Nexstep_data/*.txt')
print(myFilesPaths)
os.chdir(r'C:/Users/Gayathri/Desktop/Nexstep_data/')
myFiles = glob.glob('*.txt')

['C:/Users/Gayathri/Desktop/Nexstep_data\\census2010sf2_GROUP QUARTERS POPULATION IN OTHER INSTITUTIONAL FACILITIES BY SEX BY AGE.txt', 'C:/Users/Gayathri/Desktop/Nexstep_data\\census2010sf2_NONRELATIVES BY HOUSEHOLD TYPE.txt', 'C:/Users/Gayathri/Desktop/Nexstep_data\\census2010_ALLOCATION OF TENURE.txt', 'C:/Users/Gayathri/Desktop/Nexstep_data\\census2010_FAMILY TYPE BY PRESENCE AND AGE OF OWN CHILDREN (HISPANIC OR LATINO HOUSEHOLDER).txt', 'C:/Users/Gayathri/Desktop/Nexstep_data\\census2010_GROUP QUARTERS POPULATION BY SEX BY AGE BY GROUP QUARTERS TYPE.txt', 'C:/Users/Gayathri/Desktop/Nexstep_data\\census2010_GROUP_QUARTERS_POPULATION.txt', 'C:/Users/Gayathri/Desktop/Nexstep_data\\census2010_HOUSEHOLD TYPE BY RELATIONSHIP (ASIAN ALONE).txt', 'C:/Users/Gayathri/Desktop/Nexstep_data\\census2010_MEDIAN AGE BY SEX (SOME OTHER RACE ALONE).txt', 'C:/Users/Gayathri/Desktop/Nexstep_data\\census2010_PRESENCE OF MULTIGENERATIONAL HOUSEHOLDS.txt', 'C:/Users/Gayathri/Desktop/Nexstep_data\\census2010_TOTAL POPULATION IN OCCUPIED HOUSING UNITS BY TENURE (WHITE ALONE HOUSEHOLDER).txt', 'C:/Users/Gayathri/Desktop/Nexstep_data\\census2010_TOTAL POPULATION.txt', 'C:/Users/Gayathri/Desktop/Nexstep_data\\census2010_URBAN AND RURAL.txt']

### 6. Read text files to DataFrame  <a id='6_text_to_df'></a>

In [272]:
from io import StringIO 

with open(myFilesPaths[11], 'r') as infile:
    data = infile.read()
    data = data.replace('][',',\n')
    data = data.replace("[", "")
    data = data.replace("]","")

# Read the text file to DataFrame
df = pd.read_csv(StringIO(data), error_bad_lines=False,low_memory=False)

In [273]:
df.head(4)

,NAME,GEO_ID,GEO_ID.1,P002001,P002002,P002003,P002004,P002005,P002006,NAME.1,P002001ERR,state,county,tract,Unnamed: 14
0,"Census Tract 201, Autauga County, Alabama",1400000US01001020100,1400000US01001020100,1912,1594,1594,0,318,0,"Census Tract 201, Autauga County, Alabama",NaN,01,001,020100,NaN
1,"Census Tract 205, Autauga County, Alabama",1400000US01001020500,1400000US01001020500,10766,10762,10762,0,4,0,"Census Tract 205, Autauga County, Alabama",NaN,01,001,020500,NaN
2,"Census Tract 203, Autauga County, Alabama",1400000US01001020300,1400000US01001020300,3373,3373,3373,0,0,0,"Census Tract 203, Autauga County, Alabama",NaN,01,001,020300,NaN
3,"Census Tract 204, Autauga County, Alabama",1400000US01001020400,1400000US01001020400,4386,4386,4386,0,0,0,"Census Tract 204, Autauga County, Alabama",NaN,01,001,020400,NaN

### 7. Get the Description of Alphanumeric code <a id='7_get_descript'></a>

In [275]:
# Call the function to get the description of the Alphaumneric code store in Dictionary
dict_descript = rename_alphanumeric(df)

dict_descript

{'P002001': "['Total']",
 'P002002': "['Total!!Urban']",
 'P002003': "['Total!!Urban!!Inside urbanized areas']",
 'P002004': "['Total!!Urban!!Inside urban clusters']",
 'P002005': "['Total!!Rural']",
 'P002006': "['Total!!Not defined for this file']"}

### 8. Rename columns <a id='8_rename_col'></a>

In [276]:
# Rename column with description
df.rename(columns=dict_descript,inplace=True)

### 9. Cleaning the DataFrame<a id='9_clean_df'></a>

In [277]:
index_name = df[df['NAME']=='NAME'].index
df.drop(index_name,inplace = True)

In [278]:
df.drop(columns = 'Unnamed: 14',inplace=True)

### 10. Saving the DataFrame to CSV file<a id='10_save_df'></a>

In [279]:
filename = 'C:/Users/Gayathri/Desktop/Nexstep_data/mapped/' + 'mapped_'+ myFiles[11]
df.to_csv(filename, index=False,na_rep='NULL')